



<div class="container ">
  <h1>Editing Student</h1>

  <%= render 'form', student: @student %>

  <%= link_to 'Show', @student, :class=>"btn btn-light" %> |
  <%= link_to 'Back', students_path , :class=>"btn btn-secondary text-white" %>
</div>