<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%=link_to '学生列表' , students_path%>
<br>
<%=link_to '教师列表' , teachers_path%>
<br>
<%=link_to '课程列表' , courses_path%>
<br>
<%=link_to '班级列表' , groups_path%>
