<div class="jumbotron">
  <h1 class="display-4">Hello, 这里是个学籍管理系统</h1>
  <p class="lead">
    在这里，我们可以查询学生信息，录入学生成绩等等操作
  </p>
  <hr class="my-4">
  <p>本管理系统基于rails 6，实现了通过前后端对数据库的增删改查的操作</p>
  <a class="btn btn-primary btn-lg" href=<%=students_path %> role="button">学生列表</a>
</div>